* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #d9e6f7;
  --main-bg-color2: #fff;
  --main-bg-buttons-menu-color: #dde9f8;
  --main-text1-color: #4e93aa;
  --main-text2-color: #979797;
  --main-text3-color: #000000;
  --main-buttons-menu-color: #535c69;
  --main-header-color: linear-gradient(
    180deg,
    #517fc5 13.02%,
    rgba(81, 127, 197, 0.75) 30.73%,
    rgba(81, 127, 197, 0.75) 82.81%,
    #517fc5 96.35%
  );
  --main-line-one-about-color: #deeefd;
  --main-line-two-about-color: #eef8fe;
  --main-card-color: #f0f0f0;
  --main-email-text-color: #36527d;
  --main-width: 80%;
  --text-sm: 0.75rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-bg-color);
}

header {
  background: var(--main-header-color);
}

p {
  font-size: var(--text-sm);
  font-weight: 400;
}

.header-conteiner {
  display: flex;
  width: var(--main-width);
  margin: auto;
  justify-content: space-between;
  height: 2.4rem;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 7rem;
}

.header-left-img {
  display: flex;
  background-color: var(--main-bg-color2);
  height: 2.2rem;
  width: 5.5rem;
  align-items: center;
  justify-content: center;
}

.menu-text {
  font-size: var(--text-sm);
  font-weight: 400;
  color: var(--main-bg-color2);
}

.header-conteiner p {
  color: var(--main-email-text-color);
  font-size: var(--text-sm);
  font-weight: 700;
}

.header-conteiner button {
  background-color: transparent;
}

.header-right {
  display: flex;
}

.header-right button {
  cursor: pointer;
}

.input {
  display: flex;
  background-color: #5f7fa7;
  border-radius: 0.4rem;
  width: 12.7rem;
  height: 1.2rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.input input {
  width: 10rem;
  height: 1rem;
}

.input img {
  cursor: pointer;
}

.orkut-container {
  display: flex;
  gap: 0.7rem;
}

.coluna-left-conteiner {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 27rem;
  margin-top: 1rem;
  margin-left: 8.5rem;
  background-color: var(--main-bg-color2);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.foto-perfil {
  display: flex;
  height: 38%;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-left {
  padding-left: 0.1rem;
}

.nome {
  color: var(--main-text1-color);
  margin-bottom: 0.5rem;
}

.pessoal {
  color: var(--main-text2-color);
}

.coluna-left-conteiner p {
  margin-left: 0.5rem;
}

.text-menu-lef {
  color: var(--main-buttons-menu-color);
}

.img-icone {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.menu-left {
  margin: 0.5rem;
  gap: 0.01rem;
  border-top: 1px solid #eaeaec;
}

.icone-amigos {
  display: flex;
  padding-bottom: 0.5rem;
  color: var(--main-text1-color);
  cursor: pointer;
  padding-top: 0.5rem;
}

.mais {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: var(--main-text1-color);
  cursor: pointer;
}

.linha {
  border-bottom: 1px solid #eaeaec;
}

.linha-depoimento {
  border-bottom: 1px solid #eaeaec;
  padding-top: 0.5rem;
}

.buttons-foto-perfil {
  padding-top: 0.5rem;
}

.icone {
  display: flex;
  background-color: #eff9ff;
  border: 1px solid #dde9f8;
  cursor: pointer;
}

.coluna-quite-conteiner {
  background-color: var(--main-bg-color2);
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  border-radius: 0.3125rem 3.125rem 0.3125rem 0.3125rem;
  width: 34rem;
  height: 20.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.coluna-quite-conteiner h1 {
  font-size: 1.5rem;
  font-weight: 400;
  justify-items: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaec;
}

.icone-column-quite {
  display: flex;
  gap: 2rem;
}
.recognition {
  display: flex;
  gap: 1.7rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

.recognition p {
  color: var(--main-buttons-menu-color);
}

.icone-recognition {
  display: inline-flex;
  align-items: center;
  gap: 0.1rem;
  padding-bottom: 0.2rem;
  color: var(--main-buttons-menu-color);
}

.recognition-text {
  padding-left: 0.9rem;
}

.recognition-cubo {
  padding-left: 0.4rem;
}

.recognition-coracao {
  padding-left: 2.1rem;
}

.linha2 {
  border-bottom: 1px solid #eaeaec;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-header-color);
  border-radius: 0.4375rem 0.4375rem 0rem 0rem;
  width: 3rem;
  height: 1.5rem;
  margin-top: 0.3rem;
}
.social p {
  font-weight: 700;
  color: var(--main-bg-color2);
}

.linha3 {
  border-bottom: 2px solid #b5b7bb;
}

.bibliography {
  display: flex;
}

.odd {
  display: flex;
  background: var(--main-line-one-about-color);
  width: 100%;
}

.even {
  display: flex;
  background: var(--main-line-two-about-color);
  width: 100%;
}

.coluna-quite-conteiner-left {
  width: 50%;
}

.coluna-quite-conteiner-right {
  width: auto;
}

.coluna-quite-conteiner-left p {
  display: flex;
  justify-content: end;
  color: #72777f;
}

.coluna-quite-conteiner-right p {
  padding-left: 0.5rem;
  color: #000000;
}

.friends {
  background: var(--main-bg-color2);
  margin-top: 1rem;
  width: 16rem;
  height: 18.5rem;
  border-radius: 0.3125rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.communities {
  background: var(--main-bg-color2);
  margin-top: 0.5rem;
  width: 16rem;
  height: auto;
  border-radius: 0.3125rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-amigos {
  display: flex;
  gap: 0.4rem;
}

.communities-text {
  display: flex;
  gap: 0.4rem;
}

.amigos {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--main-text3-color);
}

.amigos-cinco {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--main-text1-color);
}

.friends-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-card-color);
  width: 5rem;
  height: 8rem;
}

.friends img {
  display: flex;
  padding-top: 0.5rem;
  width: 90%;
  height: auto;
}

.avatar-trio {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
  text-align: center;
  margin-left: 0.2rem;
}

.avatar-two {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
  text-align: center;
  margin-left: 0.2rem;
}

.friends-avatar p {
  display: flex;
}

.nome-friends {
  color: var(--main-text1-color);
  cursor: pointer;
}
